<button class="primary-btn" (click)="change()">
  ➕ Add Contact
</button>

<div *ngIf="display" class="card">
  <h3>Add New Contact</h3>

  <div class="form-group">
    <label>Name</label>
    <input
      type="text"
      placeholder="Enter name"
      [(ngModel)]="name"
    />
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input
      type="text"
      placeholder="Enter number"
      [(ngModel)]="numbervariable"
    />
  </div>
</div>


  <button class="success-btn" (click)="add()">
    ✔ Save Contact
  </button>




  <button class="btn btn-primary" (click)="pullcontactsfromhashmap()">
    Show Contacts
  </button>

 <div *ngIf="showcont && receivedcontacts && (receivedcontacts | keyvalue).length > 0" class="contacts-list">
    <h2>Contacts List</h2>
    <ul>
      <li *ngFor="let entry of receivedcontacts | keyvalue">
        <strong>Name:</strong> {{ entry.key }} <br />
        <strong>Phone:</strong> {{ entry.value }}
      </li>
    </ul>
 </div>
